html {
	height: 100%;
	background: linear-gradient(to bottom, rgba(170, 221, 235, 1) 0%, rgba(231, 240, 245, 1) 100%);
	background-size: cover;
	background-repeat:no-repeat;
}

.home {
	height: 35px;
	width: 35px;
	padding-top: 5px;
	padding-left: 5px;
}

.bio {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2%;
	font-family: 'Cormorant', serif;
	font-size: 20px;
}

.header {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
}

* {
  box-sizing: border-box;
}

.sections {
	float: left;
	width: 33.33%;
	border-radius: 30%;
	padding-left: 30px;
	padding-right: 30px;
}

#column {
	margin: auto;
}

img {
	max-width: 100%
}
