.left {
	text-align: left;
	font-style: oblique;
	font-family: 'Cormorant', serif;	
}
 
html {
	background: linear-gradient(to bottom, rgba(170, 221, 235, 1) 0%, rgba(231, 240, 245, 1) 100%);
	font-family: 'Roboto', sans-serif;
	height: auto;
	margin: 0px;
	padding:0px;
}

.headers {
	padding-top: 30px;
	text-decoration: underline;
	font-family: 'Fjalla One', sans-serif;
}

.position {
	font-size: 25px;
	font-style: oblique;
	font-family: 'Cormorant', serif;
}

.info {
	font-size: 15pt;
	font-style: normal;
	padding-right: 250px;
}

.home {
	height: 30px;
	width: 30px;
}

h2 {
	font-family: 'Fjalla One', sans-serif;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
}